In [ ]:
# Data Structures In Python
# A data structure is a way of organizing and storing data so it can be used efficiently.

# Why We Need Them
# They organize data in a structured way.
# They help store data efficiently.
# They make it easy to access and use data.
# They allow data to be managed easily, such as adding, removing, or searching.

# LIST TUPLE SET DICTIONARY

# LIST
# LIST IS A COLLECTION OF DATA VALUES
# LIST IS DENOTED BY USING [] list()
# LIST IS MUTABLE IN NATURE [add / delete / modify / update]
# LIST ALLOWS US TO HAVE DUPLICATE ELEMENTS
# IN LIST WE CAN STORE MIXED DATA TYPE

# Create A List
list1 = [10,20,30,40,50,60,70]
print(type(list1))

list2 = list(['a','b','c'])
print(type(list2))

# Empty List
list3 = []
print(type(list3))

<class 'list'>
<class 'list'>
<class 'list'>

In [ ]:
# LIST IS A COLLECTION OF DATA VALUES   --> Sequence + Iterable
list1 = [10,20,30,40,50,60,70]
print(list1)

# Indexing And Slicing
# 10 20 30 40 50 60 70
# 0  1  2  3  4  5  6
# -7 -6 -5 -4 -3 -2 -1

print(list1[0])         # 10
print(list1[1:5])       # [20, 30, 40, 50]  60 excluded
print(list1[1:5:2])     # [20, 40]
print(list1[::-1])      # [70, 60, 50, 40, 30, 20, 10]
print(list1[-1])        # 70
print(list1[-5:-2])     # [30, 40, 50]

[10, 20, 30, 40, 50, 60, 70]
10
[20, 30, 40, 50]
[20, 40]
[70, 60, 50, 40, 30, 20, 10]
70
[30, 40, 50]

In [ ]:
list1 = [10,20,30,40,50,60]
for i in list1:
  print(i)

10
20
30
40
50
60

In [ ]:
# len() used to return the number of elements in a List
print(len(list1))

6

In [ ]:
# enumerate()
# it's a built-in function which print Elements Of A Sequence Along With Their Index Numbers

for i in enumerate(list1):
  print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)

In [ ]:
for i,v in enumerate(list1):
  print(f'Index {i} : {v}')

# Index 0 : 10
# Index 1 : 20
# Index 2 : 30
# Index 3 : 40
# Index 4 : 50
# Index 5 : 60

Index 0 : 10
Index 1 : 20
Index 2 : 30
Index 3 : 40
Index 4 : 50
Index 5 : 60

In [ ]:
# List Is Mutable

stinfo = [101,"John",78.21,True,True,True]
print(stinfo)
stinfo[2] = 77.8
print(stinfo)

[101, 'John', 78.21, True, True, True]
[101, 'John', 77.8, True, True, True]

In [ ]:
# List Built-In Functions

list1 = [10,20,30,40,50,60,70,80,90,100]
print(list1)

# a.) append(value)
# it is used to add a new data value at the END of the List

list1.append(110)
print("After Append :",list1)

# b.) insert(indexNumber,value)
# it is used to add a new data value at any specific position in List

list1.insert(1,200)
print("After Insert:",list1)

# c.) pop(indexnumber)
# used to delete an element from the provided indexnumber
list1.pop(1)
print("After Pop:",list1)

# d.) pop()
# if not provided the index number --> used to delete the Last element from List
list1.pop()
print("After Pop:",list1)

# e.) remove(value)
list1.remove(80)
print("After Remove:",list1)

# list = [10,20,30,40,10,10,50,60]
# list.remove(10)
# it will delete the first occurence of the specified value
# list = [20,30,40,10,10,50,60]
# delete all occurences of 10

# f.) reverse()
# used to print the list in reverse order

list1.reverse()  # list1[::-1]
print("After Reverse:",list1)

# g.) clear()
# used to remove all the elements from List
list1.clear()
print("After Clear:",list1)

# del keyword
del list1

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
After Append : [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Insert: [10, 200, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Pop: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]
After Pop: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
After Remove: [10, 20, 30, 40, 50, 60, 70, 90, 100]
After Reverse: [100, 90, 70, 60, 50, 40, 30, 20, 10]
After Clear: []

In [ ]:
# h.) sort()
list1 = [50,30,10,60,90,70,20,80,40]
list1.sort()  # by default it will sort in ASCENDING order
print(list1)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
list1 = [50,30,10,60,90,70,20,80,40]
list1.sort(reverse=True)  # it will sort in DESCENDING order
print(list1)

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [ ]:
# Remove all occurence of 10
# if you Loop Over the original list and delete all the occurence of the specified value
# Python can skip some items or behave unexpectedely

# new_list --> in this list add only those elements which is != 10

list1 = [10,20,30,40,10,10,50,60]
for i in list1:
  if i == 10:
    list1.remove(i)
print(list1)

[20, 30, 40, 10, 50, 60]

In [ ]:
list1 = [10,20,30,40,10,10,50,60]
new_list = []
for i in list1:       # i --> 10
  if i == 10:         # 10 == 10 (t)
    continue
  else:
    new_list.append(i)  # new_list = [20,30,40]
print(new_list)

[20, 30, 40, 50, 60]

In [ ]:
# Remove all occurence of 10
list1 = [10,20,30,40,10,10,50,60]

while 10 in list1:
  list1.remove(10)

print(list1)

[20, 30, 40, 50, 60]

In [ ]:
# TUPLE
# TUPLE IS A COLLECTION OF DATA VALUES
# TUPLE IS DENOTED BY USING () tuple()
# TUPLE IS IMMUTABLE IN NATURE
# TUPLE ALLOWS US TO HAVE DUPLICATE ELEMENTS
# IN TUPLE WE CAN STORE MIXED DATA TYPE

# Create A Tuple

tup1 = (10,20,30,40)
print(type(tup1))

tup2 = tuple((10,20,30,40))  # tuple([]) convert list to a tuple
print(type(tup2))

tup3 = ()
print(type(tup3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
myvar = 10,20,89.21,True,"Python"
print(type(myvar))

<class 'tuple'>

In [ ]:
# how to define a tuple having one element
t1 = (10,)
print(type(t1))

<class 'tuple'>

In [ ]:
# TUPLE IS IMMUTABLE
tupl1 = (10,20,30,40,50)
print(tupl1)
tupl1[2] = 300
print(tupl1)

(10, 20, 30, 40, 50)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupl1 = (10,20,30,40,50,10,20,10,10,30,40,70,80,60)
print(tupl1)

# len()
print(len(tupl1))

# count(value)
# it will count the occurence of the specified value

print(tupl1.count(10))

# index(value)
# it will let you know the index number of the specified value

print(tupl1.index(70))

(10, 20, 30, 40, 50, 10, 20, 10, 10, 30, 40, 70, 80, 60)
14
4
11

In [1]:
# Task --> List
# save the marks in a List
# print those marks

stmarks = []
howManyStudents = int(input('How Many Students Marks You Wish To Insert : '))
i = 1
while i<=howManyStudents:
  print(f'Enter Marks {i}')
  marks = int(input())
  stmarks.append(marks)
  i += 1

print(stmarks)  # tuple(stmarks)

How Many Students Marks You Wish To Insert : 4
Enter Marks 1
78
Enter Marks 2
98
Enter Marks 3
23
Enter Marks 4
87
[78, 98, 23, 87]

In [ ]:
# SET
# SET IS AN UNORDERED COLLECTION OF DATA VALUES
# SET IS DENOTED BY USING {} or set() for emty set or to turn to set
# SET DOES NOT ALLOW US TO HAVE DUPLICATE ELEMENTS

# Create a SET

# 1st option
set1 = {10,20,30}
print(type(set1))
print(set1)

# other way to assign a set
set2 = set({10,20,30})
print(type(set2))
print(set2)

# Empty Set
set3 = set()
print(type(set3))
print(set3)

<class 'set'>
{10, 20, 30}
<class 'set'>
{10, 20, 30}
<class 'set'>
set()

In [ ]:
# SET IS AN UNORDERED COLLECTION OF DATA VALUES
set1 = {10,20,30,40,50,10,30,50,60}
print(set1)

{50, 20, 40, 10, 60, 30}

In [ ]:
# To ask on Monday
# WAP to print how many unique elements in a set
list1 = [10,20,30,40,50,10,30,50,60]

# change to set
set1 = set(list1)
print(set1)
print('No. Of Unique Elements :', len(set1))

{40, 10, 50, 20, 60, 30}
No. Of Unique Elements : 6

In [ ]:
list1 = [10,20,30,40,50,10,30,50,60]
empty_list = []
for i in list1:                    # i --> 60
  if i not in empty_list:          # if 60 does not exist in empty_list (t)
    empty_list.append(i)           # empty_list = [10,20,30,40,50,60]
print('No. Of Unique Elements :',len(empty_list))
print(empty_list)

No. Of Unique Elements : 6
[10, 20, 30, 40, 50, 60]

In [ ]:
# is there any way using which we can convert set from unordered to ordered
# An OrderedSet is a mutable data structure that is a hybrid of a list and a set.
# It remembers the order of its entries, and every entry has an index number that can be looked up.

# pip --> python installer package
# helps you to install Python Libraries

!pip install ordered-set

Collecting ordered-set
  Downloading ordered_set-4.1.0-py3-none-any.whl.metadata (5.3 kB)
Downloading ordered_set-4.1.0-py3-none-any.whl (7.6 kB)
Installing collected packages: ordered-set
Successfully installed ordered-set-4.1.0

In [ ]:
from ordered_set import OrderedSet

# WITHOUT OrderedSet
str1 = "abracadabra"
print(set(str1))

# WITH OrderedSet
str1 = "abracadabra"
print(OrderedSet(str1))

{'c', 'a', 'b', 'd', 'r'}
OrderedSet(['a', 'b', 'r', 'c', 'd'])

In [ ]:
str1 = "abracadabra"
str1 = OrderedSet(str1)
print(str1)
print(str1[0])

OrderedSet(['a', 'b', 'r', 'c', 'd'])
a

In [ ]:
# Dictionary
# Dictionary is used to store collection of data values in a form of KEY:VALUE pair
# Dictionary is denoted by using {}  dict()
# Dictionary is mutable in nature
# In Dictionary -->  keys has to be unique , but values can be duplicated

emp_info = {"id":101,"name":"John","dept":"IT",
            "age":32,"sal":6700,"email":"j@gmail.com","city":"klang"}

print(type(emp_info))
print(emp_info["name"])
print(emp_info["city"])
print(emp_info["sal"])

# get()
print(emp_info.get("email"))

<class 'dict'>
John
klang
6700
j@gmail.com

In [ ]:
emp_data = {"id":[101,102,103] , "name":["John","Alex","Smith"],
            "sal":[2300,4500,6700]}
print(emp_data)
print(emp_data["name"])
print(emp_data["name"][1])

# 101 John 2300
print(emp_data["id"][0], emp_data["name"][0], emp_data["sal"][0])

{'id': [101, 102, 103], 'name': ['John', 'Alex', 'Smith'], 'sal': [2300, 4500, 6700]}
['John', 'Alex', 'Smith']
Alex
101 John 2300

In [ ]:
# In Dictionary --> keys has to be unique, but values can be duplicated

stinfo = {"id":101, "name":"John", "dept":"IT", "id":123} # this will only update the id to 123. 101 is replaced.
print(stinfo)

{'id': 123, 'name': 'John', 'dept': 'IT'}

In [ ]:
stinfo ={"id": [101,102], "name":["John", "John"]} # for values, it's okay to have the same values

print(stinfo)

{'id': [101, 102], 'name': ['John', 'John']}

In [ ]:
emp_info = {"id":101,"name":"John","dept":"IT",
            "age":32,"sal":6700,"email":"j@gmail.com","city":"klang"}

# add a new key:value pair

emp_info["country"] = "Malaysia" # this will be inserted at the end
print(emp_info)

{'id': 101, 'name': 'John', 'dept': 'IT', 'age': 32, 'sal': 6700, 'email': 'j@gmail.com', 'city': 'klang', 'country': 'Malaysia'}

In [ ]:
# delete a key:value pair
# dictName.pop('keyName')

emp_info.pop("city")
print(emp_info)

{'id': 101, 'name': 'John', 'dept': 'IT', 'age': 32, 'sal': 6700, 'email': 'j@gmail.com', 'country': 'Malaysia'}

In [ ]:
# updating value in dictionary

emp_info["sal"] = 7800
print(emp_info)

{'id': 101, 'name': 'John', 'dept': 'IT', 'age': 32, 'sal': 7800, 'email': 'j@gmail.com', 'country': 'Malaysia'}

In [ ]:
# updating key in dictionary (but not advisable. if u want to change, change from the original)
# update name --> emp_name

emp_info["emp_name"] = emp_info.pop("name") # but emp_name will then be positioned at the end
print(emp_info)

{'id': 101, 'dept': 'IT', 'age': 32, 'sal': 7800, 'email': 'j@gmail.com', 'country': 'Malaysia', 'emp_name': 'John'}

In [ ]:
# this is to show that pop method will return the value and delete the value

emp_info = {"id":101,"name":"John","dept":"IT",
            "age":32,"sal":6700,"email":"j@gmail.com","city":"klang"}
print(emp_info.pop("name"))   #  returns the value + it will delete key:value pair

John

In [ ]:
# Using For Loop
# normal for loop will print KEYS only

emp_info = {"id":101,"name":"John","dept":"IT",
            "age":32,"sal":6700,"email":"j@gmail.com","city":"klang"}

for i in emp_info:
  print(i)

id
name
dept
age
sal
email
city

In [ ]:
# to print values using for loop  dictioName.values()
for i in emp_info.values():   # emp_info.values()  get the values from dict -->  101 John IT .....
  print(i)

101
John
IT
32
6700
j@gmail.com
klang

In [ ]:
# print key and value together dictioName.items()
for k,v in emp_info.items():
  print(f'{k}: {v}')

id: 101
name: John
dept: IT
age: 32
sal: 6700
email: j@gmail.com
city: klang

In [ ]:
emp_data = {"id":[101,102,103] , "name":["John","Alex","Smith"],
            "sal":[2300,4500,6700]}

for k, v in emp_data.items(): # can also be used if there are multiple values
  print(f'{k}: {v}')

id: [101, 102, 103]
name: ['John', 'Alex', 'Smith']
sal: [2300, 4500, 6700]

In [ ]:
# WITHOUT NESTED LIST COMPREHENSION

numbers = [1,2,3,4,5,6,7,8,9,10]
# create a new list showing square of these numbers

squares = []

for i in numbers:
  squares.append(i*i)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# NESTED LIST COMPREHENSION
# A SHORT WAY OF CREATING A NEW LIST
# SYNTAX  :   listname = [outputVariable expression condition]

numbers = [1,2,3,4,5,6,7,8,9,10]
# create a new list showing square of these numbers

squares = [i*i for i in numbers]

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# WITHOUT NESTED LIST COMPREHENSION
# create a new list showing square of only even numbers
numbers = [1,2,3,4,5,6,7,8,9,10]
square = []
for i in numbers:
  if i%2==0:
    square.append(i*i)
print(square)

[4, 16, 36, 64, 100]

In [ ]:
# WITH NESTED LIST COMPREHENSION
# create a new list showing square of only even numbers
numbers = [1,2,3,4,5,6,7,8,9,10]
square = [i*i for i in numbers if i%2==0]
print(square)

[4, 16, 36, 64, 100]